# Swift Package Manager
.swiftpm/
.build/

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/*
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcodeproj/xcshareddata/*
!*.xcodeproj/xcshareddata/xcschemes/

# Swift
*.swiftpm/
*.build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
