name: Build

on:
  workflow_dispatch:
  schedule:
    # each 5th day of month
    - cron: "0 0 5 * *"
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Run tests
      run: ./test.sh
